<h1><%= @skill.name %></h1>
<% @jobs.each do |job|%>
  <div class="content">
    <div class="large-3 columns">
      <h2 class="job_title"><%= link_to(job.name, job_path(job))%></h2>
      <h4 class="company_title"><small><%= link_to(job.company_name, job_path(job))  %></small></h4>
    </div>
  </div>
<% end %>
<%= paginate @jobs %>