@import 'foundation_and_overrides';
.content{
  background: #FFF;
  @include grid-row();
  border-bottom: 4px double #e0e0e0;
  a{
    color: black;
    &:hover{
      text-decoration: underline;
    }
  }
}
.pagination {
  a span{
    color:$sunflower_color;
  }
}
h1{
  color: $sunflower_color;
}
.job_title{
  margin-bottom: 3px;
}
.company_title{
  margin:3px;
  line-height: 1;
}