@import 'foundation_and_overrides';
.content{
  background: #FFF;
  @include grid-row();
  border-bottom: 4px double #e0e0e0;
  a{
    color: black;
    &:hover{
      text-decoration: underline;
    }
  }
  i{
    &:hover{
      text-decoration: underline; 
    }
  }
  .job_title{
    margin-bottom: 0px;
    margin-left: 0.9375rem;
  }
  .company_title{
    margin:3px;
    line-height: 1;
  }
  .company_address{
    @include grid-column(
      $columns:7
      );
  }
  .job_type{
    @include grid-column(
      $columns:7
      );
  }
}
.pagination {
  a span{
    color:$sunflower_color;
  }
}
h1{
  color: $sunflower_color;
}

#footer{
  background-color: #A3D58D;
}