@import 'foundation_and_overrides';
.content{
  background: #FFF;
  min-height: 4em;
  @include grid-row();
  border-bottom: 4px double #e0e0e0;
  a{
    color: black;
    &:hover{
      text-decoration: underline;
    }
  }
  i{
    &:hover{
      text-decoration: underline; 
    }
  }
  .job_title{
    margin-bottom: 0px;
    margin-left: 0.9375rem;
  }
  .company_title{
    margin:3px;
    line-height: 1;
  }
  .company_address{
    @include grid-column(
      $columns:4
      );
  }
}
.pagination {
  a span{
    color:$sunflower_color;
  }
}
h1{
  color: $sunflower_color;
}
.new_job_form{
  @extend .content;
  padding: 1em;
  margin-bottom: 1em;
}
.job_show_canvas{
  @extend .content;
  h1{
    color: black;
  }
  .large-9{
    border-right: 2px solid #e0e0e0; 
  }
  margin-bottom: 1em;
}
#job_description, #job_requirement{
  height: 10em;
}