@import "foundation_and_overrides";
h1{
  color: $sunflower_color;
}
.about{
  h1, h4, p, li{
    color: $sunflower_color;
  }
}


#footer{
  background-color: $sunflower_color;
  .contact_button{
    @include button(
      $radius: true,
      $bg: $sunflower_color);
    color: black;
    &:hover{
      color:black;
    }
  }
}