<div id="footer">
  <div class="row">
    <div class="columns">
      <div class="fb-like-box right" data-href="https://www.facebook.com/zbjobs" data-colorscheme="light" data-show-faces="false" data-header="true" data-stream="false" data-show-border="true"></div>
    </div>
  </div>
  <div class="row">
    <div class="large-3 columns right">
      <h6>Maintained by 公民好朋友</h6>  
    </div>
  </div>    
</div>
